
body {
  background: #dfb8e6;
}

#welcome{
  font-size: 15px;
}

.well{
  font-size: 15px;
  background-color: #8eb8c6;
}


h1 {
  font-size: 50px;
  text-align: center;
  font-family: cursive;
}

h2 {
  font-size: 25px;
  text-align: center;
  font-family: cursive;
}

.todo {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.add-todo {
  display: flex;
  width: 500px;
  height: 40px;
  align-items: center;
  background-color: #212121;
  border-radius: 20px;
  padding: 10px;
}

.input-task {
  width: 80%;
}

.input-task input {
  width: 425px;
  height: 28px;
  border-radius: 20px;
  font-family: cursive;
  font-size: 15px;
}

.add-task-button {
  width: 95px;
  display: flex;
  justify-content: flex-end;
  color: aqua;
}

.add-task-button button {
  width: 50px;
  height: 35px;
  font-size: 22px;
  background-color: rgba(223, 119, 211, 0.7);
  color: black;
  border-radius: 10px;
  cursor: pointer;
}

.add-task-button button:hover {
  background-color: rgb(238, 144, 207);
}

.create-task {
  display: flex;
  width: 500px;
  height: 50px;
  background-color: rgb(131, 197, 244);
  border-radius: 10px;
  border: 2px solid black;
  margin-bottom: 15px;
  padding: 10px;
  /* font-family: cursive; */
}

.create-task.edit {
  background-color: #33bdea;
  border-color: #005b64;
}

.create-task.edit .btn-edit {
  background: green;
}

.create-task.checked {
  background-color: grey;
  opacity: 0.5;
  text-decoration: line-through;
}

.create-task.deleted {
  animation: 1s slidein;
}

.create-task.hide {
  display: none;
}

@keyframes slidein {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

.task {
  width: 80%;
  display: flex;
  align-items: center;
  color: black;
}

.action {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.action input {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

input[type='checkbox'] {
  margin: 10px;
  border-radius: 50px;
}

.action span {
  color: #B71C1C;
  cursor: pointer;
  height: 25px;
  font-size: 25px;
  /* margin-bottom: 14px; */
}

.action span:hover {
  color: darkred;
}

.action span.btn-edit {
  color: #1A237E;
  /* padding-right: 50%; */


}

.action span.btn-edit:hover {
  color: darkcyan;
}

.del-all-tasks-button button {
  background-color: #B71C1C;
  color: black;
  cursor: pointer;
  font-family: cursive;
  height: 30px;
  border-radius: 5px;
  margin: 10px;
  /* user-select: none;
    opacity: 0.6;
    pointer-events: none;
     */
}

.del-all-tasks-button button:hover {
  background-color: darkred;
}

.del-all-tasks-button button.hide {
  display: none;
}

.input-edit {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  display: none;
}

.input-edit.edit {
  padding: 5px;
  margin-right: 150px;
  display: none;
}

.active {
  display: block;
}

.noactive {
  display: none;
}

input-edit:focus {
  color: #333;
}

.txt {
  font-family: cursive;
  margin-top: 60px;
  margin-right: 40px;
  font-size: 18px;
}

.btn-edit {
  background-color: #00537e;
  margin-right: 3px;
  text-decoration-color: #0b0b0b;
  
  

}

.btn-edit:hover {
  background-color: #033953;
}



.popup  {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: rgb(98, 76, 113);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  text-align: center;
  /* margin-left: -80px; */
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}